name: [[[ .Env.WORKFLOW_NAME ]]] Test

on:
  workflow_dispatch:

jobs:
  valid-tag:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: [[[ .Env.WORKFLOW_NAME ]]] valid tag
        id: gha-docker-image-exists
        continue-on-error: true
        uses: Y0sh1dk/gha-docker-image-exists@[[[ .Env.ACTION_VERSION ]]]
        with:
          image: nginx:latest

      - name: Check output
        run: |
          if [ ${{ steps.gha-docker-image-exists.outcome == 'success' }} ]; then
            exit 0
          else
            exit 1
          fi

  invalid-tag:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: [[[ .Env.WORKFLOW_NAME ]]] invalid tag
        id: gha-docker-image-exists
        continue-on-error: true
        uses: Y0sh1dk/gha-docker-image-exists@[[[ .Env.ACTION_VERSION ]]]
        with:
          image: nginx:invalid-tag

      - name: Check output
        run: |
          if [ ${{ steps.gha-docker-image-exists.outcome == 'failure' }} ]; then
            exit 0
          else
            exit 1
          fi
